.columns-transactions {
    width: 100%;
    display: grid;
    grid-template-columns: auto 350px;
    gap: 0 20px;
}

#transactions-container {
    width: 100%;
    height: auto;
}

.month-reference {
    width: max-content;
    display: flex;
    margin: auto;
}

.month-reference > h5 {
    margin: 0 20px;
}

.month-reference > i {
    opacity: .5;
    cursor: pointer;
    transition: .3s;
}

.month-reference > i:hover {
    opacity: .9;
}

.date {
    position: relative;
    margin: 60px 0 25px;
    opacity: .5;
}

.date > .day {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(-50%,-50%);
    font-size: 1.5rem;
    background-color: #fff;
    padding: 0 15px 0 30px;
}

.transaction {
    color: #000;
    text-decoration: none;
    margin: 5px 0;
    padding: 12px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 15px;
}

.transaction:hover {
    background-color: #00000010;
}

.info-transaction {
    width: max-content;
    display: flex;
    align-items: center;
    margin-right: 10px;
    max-width: 100%;
    overflow: hidden;
}

.color-category {
    width: 45px;
    min-width: 45px;
    height: 45px;
    margin-right: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
}

.name-category {
    opacity: .8;
    font-size: .8rem;
}

.second-info-transaction {
    display: flex;
    align-items: center;
    min-width: max-content;
}

.value-transaction {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.account-reference {
    opacity: .8;
    font-size: .8rem;
}

.status-transactions {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.fa-square {
    cursor: pointer;
}

.fa-triangle-exclamation {
    color: var(--transfers-color);
    margin-top: 5px;
    display: block;
}

/*-----------------------INÃCIO OPTIONS DATA------------------------*/

.transactions {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 20px;
}

.box-month-total > h4 {
    opacity: .8;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
}

#total-balance {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
}

.btn-new {
    text-align: center;
    padding: 12px 10px 8px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #fff;
    width: 60px;
    min-width: 60px;
    transition: .3s;
    font-weight: 350;
}

.btn-new > i {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 8px;
}

#new-revenue {
    border: 3px solid var(--first-color);
}

#new-revenue:hover {
    background-color: var(--first-color);
    color: #fff;
}

#new-expense {
    border: 3px solid var(--expenses-color);
}

#new-expense:hover {
    background-color: var(--expenses-color);
    color: #fff;
}

#new-transfer {
    border: 3px solid var(--transfers-color);
}

#new-transfer:hover {
    background-color: var(--transfers-color);
    color: #fff;
}

#new-investment {
    border: 3px solid var(--investments-color);
}

#new-investment:hover {
    background-color: var(--investments-color);
    color: #fff;
}

.box-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-total > h4 {
    opacity: .8;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.value-total {
    font-size: 1.4rem;
    margin-right: 10px;
}

/*-----------------------FIM OPTIONS DATA------------------------*/


@media (max-width: 1300px) {
    .columns-transactions {
        grid-template-columns: auto 300px;
    }
}

@media (max-width: 1000px) {
    .columns-transactions {
        grid-template-columns: auto 250px;
    }

    .btn-new {
        text-align: center;
        padding: 10px 8px 6px;
        width: 40px;
        min-width: 40px;
    }
    
    .btn-new > i {
        font-size: 1.2rem;
    }

    .value-total {
        font-size: 1.2rem;
    }
}

@media (max-width: 850px) {
    .columns-transactions {
        grid-template-columns: 1fr;
    }

    .btn-new {
        width: 60px;
        min-width: 60px;
    }
    
    .btn-new > i {
        font-size: 1.5rem;
    }

    .value-total {
        font-size: 1.4rem;
    }
}

@media (max-width: 500px) {
    .transaction {
        margin: 0;
        padding: 12px 4px;
    }

    .color-category {
        width: 35px;
        min-width: 35px;
        height: 35px;
        margin-right: 10px;
    }

    .name-transaction {
        font-size: .9rem;
    }

    .name-category {
        font-size: .7rem;
    }

    .account-reference {
        font-size: .7rem;
    }
    
    .status-transactions {
        margin-left: 10px;
    }

    .btn-new {
        width: 40px;
        min-width: 40px;
    }
    
    .btn-new > i {
        font-size: 1.2rem;
    }

    .value-total {
        font-size: 1.2rem;
    }
    
}

@media (max-width: 400px) {
    .name-transaction {
        font-size: .8rem;
    }

    .name-category {
        font-size: .6rem;
    }

    .value-transaction {
        font-size: .9rem;
    }    

    .account-reference {
        font-size: .6rem;
    }
    
    .status-transactions {
        margin-left: 8px;
    }
    
}