#dividas {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.divida {
    width: 100%;
}

.info-divida {
    width: max-content;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.title-divida {
    font-size: .9rem;
}

.subtitle-divida {
    opacity: .8;
    font-size: .8rem;
}

.description-divida {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .9;
    text-align: center;
}

.value-divida {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--expenses-color);
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
}

.simulation-divida {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.simulation-divida > button {
    margin-top: 10px;
    width: 47.5%;
    padding: 8px 20px;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

#btn-excluir {
    border: 1px solid var(--expenses-color);
    color: var(--expenses-color);
}

#btn-excluir:hover {
    color: #fff;
    background-color: var(--expenses-color);
}

#btn-simular {
    border: 1px solid #7a7a7a;
    color: #000000;
}

#btn-simular:hover {
    background-color: #7a7a7a;
    color: #ffffff;
}


@media (max-width: 800px) {
    #dividas {
        width: 100%;
        display: block;
    }
}

@media (max-width: 500px) {
    #dividas {
        width: 100%;
        display: block;
    }

    .description-divida {
        font-size: .9rem;
    }

    .value-divida {
        font-size: 1rem;
    }
}