/*--------------------------INÍCIO FIRST DATA--------------------------*/

div.first-data {
    width: 100%;
    padding: 20px 7px;
}


#total-balance {
    width: 100%;
    height: 50px;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
    color: #000;
    padding: 0 15px;
}

.data-balance {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.color-balance {
    background-color: var(--second-color);
    width: 4px;
    height: 100%;
    border-radius: 5px;
    margin-right: 10px;
}

.info-balance {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: start;
}

#title-balance {
    opacity: .7;
    font-size: 1.1rem;
}

#balance {
    font-size: 1.7rem;
    font-weight: 600;
    margin-left: 15px;
}

/*--------------------------FIM FIRST DATA--------------------------*/

/*-----------------------INÍCIO OPTIONS DATA------------------------*/

.transactions {
    width: 100%;
    height: max-content;
}

.title-total-transactions {
    width: 100%;
    text-align: center;
}

.total-transactions {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 25px 0;
    overflow: hidden;
}

.total-transactions > div {
    width: 100%;
    overflow: hidden;
    border-radius: 0;
}

.total-transactions > div:not(:last-child) {
    border-right: 1px solid;
    border-image: linear-gradient(0deg, #0000003c, #00000080, #0000003c);
    border-image-slice: 1;
}

.total-transactions > div > div > h5 {
    font-weight: 400;
}

.total-transactions > div > div {
    font-weight: 500;
    font-size: 1.2rem;
}

.total-transactions > div > button {
    display: block;
    margin: 10px auto 0;
    background-color: transparent;
    border: none;
    width: max-content;
    padding: 2px 15px;
    border-radius: 10px;
    font-size: .8rem;
    cursor: pointer;
    transition: .3s;
}

.total-transactions > div > button > i {
    font-size: 1.2rem;
}

.total-transactions > div > button.btn-new-revenue {
    border: 2px solid var(--first-color);
    color: var(--first-color);
}

.total-transactions > div > button.btn-new-revenue:hover {
    background-color: var(--first-color);
    color: #fff;
}

.total-transactions > div > button.btn-new-expense {
    border: 2px solid var(--expenses-color);
    color: var(--expenses-color);
}

.total-transactions > div > button.btn-new-expense:hover {
    background-color: var(--expenses-color);
    color: #fff;
}

.total-transactions > div > button.btn-new-transfer {
    border: 2px solid var(--transfers-color);
    color: var(--transfers-color);
}

.total-transactions > div > button.btn-new-transfer:hover {
    background-color: var(--transfers-color);
    color: #fff;
}

.total-transactions > div > button.btn-new-investment {
    border: 2px solid var(--investments-color);
    color: var(--investments-color);
}

.total-transactions > div > button.btn-new-investment:hover {
    background-color: var(--investments-color);
    color: #fff;
}

.total-revenues, .total-expenses, .total-transfers, .total-investments {
    text-align: center;
    border-radius: 15px;
    text-decoration: none;
    color: #000;
}

.total-revenues > div > div {
    color: var(--second-color);
}

.total-expenses > div > div {
    color: var(--expenses-color);
}

.total-transfers > div > div {
    color: var(--transfers-color);
}

.total-investments > div > div {
    color: var(--investments-color);
}

.see-transactions {
    display: block;
    width: 100%;
    text-align: center;
    color: var(--black-color);
    text-decoration: none;
    opacity: .9;
    font-size: .9rem;
}

/*-----------------------FIM OPTIONS DATA------------------------*/

/*-----------------------INÍCIO COLUMNS DATA------------------------*/


.columns-data {
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
} 

.circle-color {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
}

.add {
    display: block;
    width: 100%;
    text-align: center;
    color: var(--black-color);
    text-decoration: none;
    opacity: .8;
    font-size: .8rem;
}

.total {
    width: max-content;
}

/*CARDS*/

.invoices {
    display: flex;
    width: max-content;
}

.color-invoices {
    background-color: var(--second-color);
    width: 4px;
    height: 40px;
    border-radius: 5px;
    margin-right: 10px;
}

.title-invoices {
    opacity: .6;
    font-size: .9rem;
}

.hr-cards {
    margin: 20px 0;
    height: 1px; 
    border: none;
    background-image: linear-gradient(to right, #00000010, #00000040, #00000010);

}

.fa-building-columns, .fa-money-bill {
    margin-right: 10px;
    font-size: 2.2rem;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.account {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0 40px;
    text-decoration: none;
    color: #000;
}

.type-account {
    opacity: .7;
    font-size: .8rem;
}

.revenue, .expense {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0 30px;
    text-decoration: none;
    color: #000;
}

.total-account {
    font-weight: 450;
    font-size: 1.1rem;
    width: max-content;
}

.card {
    margin: 15px 0 30px;
    display: block;
    text-decoration: none;
    color: #000;
}

.info-card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 5px;
}

.fa-credit-card {
    display: block;
    margin-right: 15px;
    font-size: 2rem;
}

.title-card, .title-revenue, .title-expense {
    display: flex;
    align-items: center;
}

.pay-card {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: end;

}

.title-invoice-card {
    opacity: .8;
    font-size: .8rem;
}

.info-limit-card {
    margin: 10px 0;
}

.limit-card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: .8;
    font-size: .9rem;
}

.limit-card > div {
    max-width: max-content;
}

.limit-card > div:first-child {
    margin-right: 10px;
}

.limit-card > div:last-child {
    margin-left: 10px;
}

.limit-bar {
    width: 100%;
    height: 10px;
    background-color: #00000052;
    border-radius: 10px;
    overflow: hidden;
}

.used-limit-bar {
    height: 10px;
    border-radius: 10px;
}

.subtitle-revenue, .subtitle-expense {
    opacity: .8;
    font-size: .8rem;
}

.total-transaction {
    opacity: .8;
}



@media (max-width: 1280px) {
    .total-transactions {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
    }

    .total-transactions > div:not(:last-child) {
        border: none;
    }

    .total-transactions > div:nth-child(1), .total-transactions > div:nth-child(3) {
        border-right: 1px solid;
        border-image: linear-gradient(0deg, #0000003c, #00000080, #0000003c);
        border-image-slice: 1;
    }
}

@media (max-width: 1200px) {
    .total-transactions {
        grid-template-columns: repeat(4, 1fr);
    }

    .total-transactions > div:nth-child(1), .total-transactions > div:nth-child(3) {
        border: none;
    }

    .total-transactions > div:not(:last-child) {
        border-right: 1px solid;
        border-image: linear-gradient(0deg, #0000003c, #00000080, #0000003c);
        border-image-slice: 1;
    }
}

@media (max-width: 1000px) {
    .total-transactions {
        grid-template-columns: repeat(2, 1fr);
    }

    .total-transactions > div:not(:last-child) {
        border: none;
    }

    .total-transactions > div:nth-child(1), .total-transactions > div:nth-child(3) {
        border-right: 1px solid;
        border-image: linear-gradient(0deg, #0000003c, #00000080, #0000003c);
        border-image-slice: 1;
    }
}


@media (max-width: 900px) {

    .columns-data {
        grid-template-columns: repeat(1, 1fr);
        gap: 0px;
    } 
}

@media (max-width: 700px) {

    #title-balance {
        font-size: 1rem;
    }
    
    #balance {
        font-size: 1.5rem;
        font-weight: 550;
    }

    .total-transactions > div > div {
        font-size: 1rem;
    }
}


@media (max-width: 500px) {

    .total-transactions {
        grid-template-columns: repeat(1, 1fr);
    }

    .total-transactions > div {
        width: 100%;
        max-width: 280px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
    }

    .total-transactions > div:not(:last-child) {
        border: none;
    }

    .total-transactions > div > button {
        margin: 0;
    }

    .total-transactions > div > div {
        font-size: 1rem;
    }

    .circle-color {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-right: 10px;
        min-width: 35px;
    }

    .fa-building-columns, .fa-money-bill {
        margin-right: 12px;
        font-size: 1.6rem;
        width: 40px;
    }
    

    #total-balance {
        height: 80px;
    }

    .info-balance {
        width: max-content;
        display: block;
    }

    #title-balance {
        font-size: .9rem;
    }
    
    #balance {
        font-size: 1.3rem;
        font-weight: 700;
        margin: 0;
    }

    .name-account, .name-card {
        font-size: .85rem;
        overflow: hidden;
    }

    .total-account {
        font-weight: 400;
        font-size: .9rem;
        margin-left: 20px;
    }

    .type-account {
        opacity: .7;
        font-size: .6rem;
    }

    .fa-credit-card {
        margin-right: 10px;
        font-size: 1.5rem;
    }

    /*CARDS*/

    .invoice-card {
        font-size: .9rem;
    }

    .title-invoices {
        font-size: .8rem;
    }

    .total-invoices {
        font-size: .9rem;
    }

    .title-invoice-card {
        font-size: .7rem;
    }
    
    .limit-card > div {
        display: flex;
        flex-direction: column;
        font-size: .8rem;
    }

    .limit-card > div > span {
        display: block;
    }
    
    .limit-card > div:first-child {
        align-items: flex-start;
    }
    
    .limit-card > div:last-child {
        align-items: flex-end;
    }

    .title-revenue, .title-expense {
        font-size: .8rem;
    }

    .subtitle-revenue, .subtitle-expense {
        font-size: .65rem;
    }

    .total-transaction {
        font-size: .8rem;
    }
}
