.columns-transactions {
    width: 100%;
    display: grid;
    grid-template-columns: auto 350px;
    gap: 0 20px;
}

#transactions-container {
    width: 100%;
    height: auto;
}

.month-reference {
    width: max-content;
    display: flex;
    margin: auto;
}

.month-reference > h5 {
    margin: 0 20px;
}

.month-reference > i {
    opacity: .5;
    cursor: pointer;
    transition: .3s;
}

.month-reference > i:hover {
    opacity: .9;
}

.date {
    position: relative;
    margin: 60px 0 25px;
    opacity: .5;
}

.date > .day {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(-50%,-50%);
    font-size: 1.5rem;
    background-color: #fff;
    padding: 0 15px 0 30px;
}

.transaction {
    color: #000;
    text-decoration: none;
    margin: 5px 0;
    padding: 12px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 15px;
}

.transaction:hover {
    background-color: #00000010;
}

.info-transaction {
    width: max-content;
    display: flex;
    align-items: center;
}

.color-category {
    width: 45px;
    min-width: 45px;
    height: 45px;
    margin-right: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
}

.name-category {
    opacity: .8;
    font-size: .8rem;
}

.second-info-transaction {
    display: flex;
    align-items: center;
}

.value-transaction {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.account-reference {
    opacity: .8;
    font-size: .8rem;
}

.status-transactions {
    margin-left: 20px;
}

.fa-square {
    cursor: pointer;
}

/*-----------------------INÃCIO OPTIONS DATA------------------------*/

.transactions {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 20px;
}

.topic-total {
    text-align: center;
}

.topic-total > div {
    margin-bottom: 8px;
}

.topic-total > div > div:first-child {
    opacity: .9;
    font-size: .9rem;
}

.topic-total > div > div:last-child {
    font-size: 1.3rem;
}

.total-receives > div  > div:last-child {
    color: var(--second-color);
}

.total-expenses > div  > div:last-child {
    color: var(--expenses-color);
}

.total-investments > div  > div:last-child {
    color: var(--investments-color);
}

.programadas {
    opacity: .7;
}

button.btn-new {
    display: block;
    width: 100%;
    max-width: 160px;
    padding: 4px;
    border-radius: 10px;
    background-color: transparent;
    margin: 12px auto 0;
    text-align: center;
    font-size: .8rem;
    cursor: pointer;
    transition: .3s;
}

.btn-new-receive {
    border: 2px solid var(--first-color);
}

.btn-new-receive:hover {
    background-color: var(--first-color);
    color: #fff;
}

.btn-new-expense {
    border: 2px solid var(--expenses-color);
}

.btn-new-expense:hover {
    background-color: var(--expenses-color);
    color: #fff;
}

.btn-new-investment {
    border: 2px solid var(--investments-color);
}

.btn-new-investment:hover {
    background-color: var(--investments-color);
    color: #fff;
}

/*-----------------------FIM OPTIONS DATA------------------------*/


@media (max-width: 1300px) {
    .columns-transactions {
        grid-template-columns: auto 300px;
    }
}

@media (max-width: 1000px) {
    .columns-transactions {
        grid-template-columns: auto 250px;
    }
}

@media (max-width: 850px) {
    .columns-transactions {
        grid-template-columns: 1fr;
    }
}