#indice {
    width: 100%;
}

#taxas {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 45px;
    padding: 20px;
    border-radius: 15px;
    background-color: #fff;
}

.taxa {
    width: 100%;
    text-align: center;
}

.title-taxa {
    font-size: .9rem;
    opacity: .9;
    margin-bottom: 5px;
}

.info-taxa {
    font-size: 1.2rem;
    font-weight: 600;
}

.info-green {
    color: var(--first-color);
}

#acoes {
    display: flex;
    overflow-x: auto;
    margin-top: 20px;
    padding-bottom: 8px;
    height: 100%;
}

.acao {
    width: 180px;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 0 5px;
    min-width: 160px;
}

.acao > div {
    text-align: center;
}

.title-acao {
    font-weight: 800;
    font-size: 1.2rem;
}

.name-acao {
    font-size: .8rem;
    opacity: .9;
    margin: 5px 0;
}

.percent-acao {
    font-size: .8rem;
}


#wallet {
    margin-top: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

thead > tr {
    border-bottom: 1px solid rgb(230, 230, 230);
    border-bottom: 1px solid rgb(220, 220, 220);
}

thead > tr > th {
    font-weight: 400;
    font-size: 0.8rem;
    opacity: 0.8;
    border-bottom: none; 
}

tbody > tr {
    cursor: pointer;
    transition: background-color 0.3s; 
    border-bottom: 1px solid rgb(220, 220, 220);
}

tbody > tr:hover {
    background-color: rgb(245, 245, 245);
}

tbody > tr > td {
    padding: 10px 0;
    text-align: center;
    font-size: .9rem;
}
