/*--------------------------INÍCIO FIRST DATA--------------------------*/

div.first-data {
    width: 100%;
    padding: 20px 7px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#total-balance {
    width: max-content;
    height: 50px;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
    color: #000;
    padding: 0 15px;
}

.data-balance {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: max-content;
    height: 100%;
}

.color-balance {
    background-color: var(--second-color);
    width: 4px;
    height: 100%;
    border-radius: 5px;
    margin-right: 10px;
}

.info-balance {
    max-width: 80vw;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
}

#title-balance {
    opacity: .7;
    font-size: 1.1rem;
    margin-right: 15px;
}

#balance {
    font-size: 1.7rem;
    font-weight: 550;
}

#balance > span {
    font-size: 1rem;
    font-weight: 400;
    opacity: .8;
}


.options {
    width: max-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 10px;
    margin-right: 15px;
    padding: 0 10px;
}

.btn-new {
    text-align: center;
    padding: 12px 10px 8px;
    font-size: .8rem;
    cursor: pointer;
    border-radius: 10px;
    width: 80px;
    transition: .3s;
    font-weight: 350;
}

.btn-new > i {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 8px;
}

#new-revenue {
    border: 3px solid var(--first-color);
}

#new-revenue:hover {
    background-color: var(--first-color);
    color: #fff;
}

#new-expense {
    border: 3px solid var(--expenses-color);
}

#new-expense:hover {
    background-color: var(--expenses-color);
    color: #fff;
}

#new-transfer {
    border: 3px solid var(--transfers-color);
}

#new-transfer:hover {
    background-color: var(--transfers-color);
    color: #fff;
}

#new-investment {
    border: 3px solid var(--investments-color);
}

#new-investment:hover {
    background-color: var(--investments-color);
    color: #fff;
}



/*--------------------------FIM FIRST DATA--------------------------*/

/*-----------------------INÍCIO OPTIONS DATA------------------------*/

.transactions {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 20px;
}

.topic-total {
    text-align: center;
}

.topic-total > div {
    margin-bottom: 8px;
}

.topic-total > div > div:first-child {
    opacity: .9;
    font-size: .9rem;
}

.topic-total > div > div:last-child {
    font-size: 1.3rem;
}

.total-receives > div  > div:last-child {
    color: var(--second-color);
}

.total-expenses > div  > div:last-child {
    color: var(--expenses-color);
}

.total-investments > div  > div:last-child {
    color: var(--investments-color);
}

.programadas {
    opacity: .7;
}

button.btn-new {
    display: block;
    width: 100%;
    max-width: 160px;
    padding: 4px;
    border-radius: 10px;
    background-color: transparent;
    margin: 12px auto 0;
    text-align: center;
    font-size: .8rem;
    cursor: pointer;
    transition: .3s;
}

.btn-new-receive {
    border: 2px solid var(--first-color);
}

.btn-new-receive:hover {
    background-color: var(--first-color);
    color: #fff;
}

.btn-new-expense {
    border: 2px solid var(--expenses-color);
}

.btn-new-expense:hover {
    background-color: var(--expenses-color);
    color: #fff;
}

.btn-new-investment {
    border: 2px solid var(--investments-color);
}

.btn-new-investment:hover {
    background-color: var(--investments-color);
    color: #fff;
}

/*-----------------------FIM OPTIONS DATA------------------------*/

/*-----------------------INÍCIO COLUMNS DATA------------------------*/


.columns-data {
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
} 

.total {
    width: max-content;
}

/*CARDS*/

.invoices {
    display: flex;
    width: max-content;
}

.color-invoices {
    background-color: var(--second-color);
    width: 4px;
    height: 48px;
    border-radius: 5px;
    margin-right: 10px;
}

.title-invoices {
    opacity: .6;
    font-size: .9rem;
}

.total-invoices {
    font-size: 1.2rem;
    font-weight: 500;
} 

.total-invoices > span {
    font-size: .9rem;
    opacity: .8;
    font-weight: 400;
} 

.hr-cards {
    margin: 20px 0;
    height: 1px; 
    border: none;
    background-image: linear-gradient(to right, #00000010, #00000040, #00000010);

}

.fa-building-columns, .fa-money-bill {
    margin-right: 10px;
    font-size: 2.2rem;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.account {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0 40px;
    text-decoration: none;
    color: #000;
}

.type-account {
    opacity: .7;
    font-size: .8rem;
}

.revenue, .expense {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0 30px;
    text-decoration: none;
    color: #000;
}

.total-account {
    font-weight: 450;
    font-size: 1.2rem;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: end;
}

.total-account > span {
    font-size: .9rem;
    opacity: .8;
    font-weight: 400;
}

.card {
    margin: 15px 0 30px;
    display: block;
    text-decoration: none;
    color: #000;
}

.info-card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 5px;
}

.fa-credit-card {
    display: block;
    margin-right: 15px;
    font-size: 2rem;
}

.title-card, .title-revenue, .title-expense {
    display: flex;
    align-items: center;
}

.pay-card {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: end;

}

.title-invoice-card {
    opacity: .8;
    font-size: .8rem;
}

.invoice-card {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--expenses-color);
}

.invoice-card > span {
    font-size: .8rem;
    opacity: .8;
    font-weight: 400;
}

.info-limit-card {
    margin: 10px 0;
}

.limit-card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: .8;
    font-size: .9rem;
}

.limit-card > div {
    max-width: max-content;
}

.limit-card > div > span > span {
    font-size: .8rem;
    opacity: .8;
    font-weight: 400;
}

.limit-card > div:first-child {
    margin-right: 10px;
}

.limit-card > div:last-child {
    margin-left: 10px;
}

.limit-bar {
    width: 100%;
    height: 10px;
    background-color: #00000052;
    border-radius: 10px;
    overflow: hidden;
}

.used-limit-bar {
    height: 10px;
    border-radius: 10px;
}

.subtitle-revenue, .subtitle-expense {
    opacity: .8;
    font-size: .8rem;
}

.total-transaction {
    opacity: .8;
    font-size: 1.1rem;
}

.total-transaction > span{
    font-size: .8rem;
    opacity: .8;
    font-weight: 400;
}



@media (max-width: 1150px) {
    div.first-data {
        width: 100%;
        padding: 20px 7px;
        width: 100%;
        display: block;
    }

    #total-balance {
        margin: 0 auto 20px;
    }

    .options {
        margin: auto;
    }
    
    
}


@media (max-width: 900px) {

    .transactions {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .box-month-balance {
        max-width: 48%;
    }

    .columns-data {
        grid-template-columns: repeat(1, 1fr);
        gap: 0px;
    } 
}

@media (max-width: 700px) {

    #title-balance {
        font-size: 1rem;
    }
    
    #balance {
        font-size: 1.5rem;
    }

    .transactions {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }

    .box-month-balance {
        max-width: none;
    }

    .circle-color {
        width: 25px;
        height: 25px;
        min-width: 25px;
        font-size: .7rem;
    }
}


@media (max-width: 500px) {

    .fa-building-columns, .fa-money-bill {
        margin-right: 4px;
        font-size: 1.4rem;
        width: 40px;
    }
    

    #total-balance {
        width: 100%;
        margin: 0 0 20px;
    }

    .info-balance {
        width: max-content;
        display: block;
    }

    #title-balance {
        font-size: .9rem;
    }
    
    #balance {
        font-size: 1.3rem;
        font-weight: 700;
        margin: 0;
    }

    .options {
        padding: 0;
        gap: 0 5px;
    }
    
    .btn-new {
        text-align: center;
        padding: 12px 5px 8px;
        font-size: .6rem;
        cursor: pointer;
        border-radius: 10px;
        width: 60px;
        transition: .3s;
        font-weight: 350;
    }
    
    .btn-new > i {
        display: block;
        font-size: 1.2rem;
        margin-bottom: 8px;
    }


    .name-account, .name-card {
        font-size: .8rem;
        overflow: hidden;
    }

    .total-account {
        font-weight: 400;
        font-size: .9rem;
        margin-left: 20px;
    }

    .type-account {
        opacity: .7;
        font-size: .6rem;
    }

    .fa-credit-card {
        margin-right: 10px;
        font-size: 1.5rem;
    }

    /*CARDS*/

    .invoice-card {
        font-size: .9rem;
    }

    .title-invoices {
        font-size: .8rem;
    }

    .total-invoices {
        font-size: .9rem;
    }

    .title-invoice-card {
        font-size: .7rem;
    }
    
    .limit-card > div {
        display: flex;
        flex-direction: column;
        font-size: .8rem;
    }

    .limit-card > div > span {
        display: block;
    }
    
    .limit-card > div:first-child {
        align-items: flex-start;
    }
    
    .limit-card > div:last-child {
        align-items: flex-end;
    }

    .title-revenue, .title-expense {
        font-size: .8rem;
    }

    .subtitle-revenue, .subtitle-expense {
        font-size: .65rem;
    }

    .total-transaction {
        font-size: .8rem;
    }
}


@media (max-width: 400px) {
    #title-balance {
        font-size: .8rem;
        margin-right: 8px;
    }
    
}