#short-time {
    border: 1px solid var(--investments-color);
}

#short-time > .div-table > table > thead > tr > th:first-child {
    color: var(--investments-color);
}

#medium-time {
    border: 1px solid var(--transfers-color);
}

#medium-time > .div-table > table > thead > tr > th:first-child {
    color: var(--transfers-color);
}

#long-time {
    border: 1px solid var(--expenses-color);
}

#long-time > .div-table > table > thead > tr > th:first-child {
    color: var(--expenses-color);
}

#met {
    border: 1px solid var(--second-color);
}

#met > .div-table > table > thead > tr > th:first-child {
    color: var(--second-color);
}

.div-table {
    max-width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

thead > tr {
    border-bottom: 1px solid rgb(230, 230, 230);
    border-bottom: 1px solid rgb(220, 220, 220);
}

thead > tr > th {
    font-weight: 400;
    font-size: 0.8rem;
    opacity: 0.8;
    border-bottom: none; 
}

thead > tr > th:first-child {
    font-weight: 600;
    opacity: 1;
    font-size: .9rem; 
    text-align: left;
}

thead > tr > th:last-child {
    text-align: right;
}

tbody > tr {
    transition: background-color 0.3s; 
    border-bottom: 1px solid rgb(220, 220, 220);
    overflow-x: scroll;
}

tbody > tr:hover {
    background-color: #00000010;
}

tbody > tr > td {
    padding: 10px 0;
    text-align: center;
    font-size: .9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

tbody > tr > td:not(:last-child), thead > tr > th:not(:last-child) {
    padding-right: 20px;
}

tbody > tr > td:first-child {
    max-width: 280px;
    min-width: 280px;
    text-align: left;
}

tbody > tr > td:nth-child(2) {
    max-width: 130px;
    min-width: 130px;
}

tbody > tr > td:nth-child(4) {
    max-width: 150px;
    min-width: 150px;
}

tbody > tr > td:nth-child(5) {
    max-width: 100px;
    min-width: 100px;
}

tbody > tr > td:last-child {
    text-align: right;
    max-width: 50px;
    min-width: 50px;
}

.status-bar {
    width: 150px;
    height: 10px;
    background-color: #00000052;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
}

.status-bar > div {
    height: 10px;
    border-radius: 10px;
}

.value {
    white-space: nowrap;
}


/*MODAIS*/

#submitNewGoal > input[type='submit'] {
    background-color: var(--first-color);
    border-color: var(--first-color);
    color: #fff;
    cursor: pointer;
}

#titleModalNewGoal {
    color: var(--first-color);
}


@media (max-width: 1400px) {

    tbody > tr > td {
        font-size: .85rem;
    }

    tbody > tr > td:first-child {
        max-width: 200px;
        min-width: 200px;
    }
}

@media (max-width: 1300px) {

    tbody > tr > td:first-child {
        max-width: 180px;
        min-width: 180px;
    }
}