
div.first-data {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px 7px;
}

.data-box {
    width: 100%;
    padding: 0 15px;
}

.data-box:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.150);
}

.title-data-box {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.color-revenues {
    background-color: var(--first-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.color-expenses {
    background-color: var(--expenses-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.color-investments {
    background-color: var(--investments-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.color-transfers {
    background-color: var(--transfers-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.first-value {
    font-size: 1.5rem;
    text-align: center;
}

.first-value > span {
    font-size: .9rem;
    opacity: .7;
}

.balance-value {
    font-weight: bold;
}

.second-value {
    font-size: .9rem;
    opacity: .7;
    text-align: center;
}

.second-value > a {
    color: #000;
}

.btn-new {
    text-decoration: none;
    display: block;
    width: 150px;
    margin: 15px auto 5px;
    padding: 5px;
    background-color: transparent;
    border-radius: 20px;
    transition: .3s;
    cursor: pointer;
    color: var(--black-color);
}

#btn-revenues {
    border: 2px solid var(--first-color);
}

#btn-revenues:hover {
    background-color: var(--first-color);
    color: var(--white-color);
}

#btn-expenses {
    border: 2px solid var(--expenses-color);    
}

#btn-expenses:hover {
    background-color: var(--expenses-color);
    color: var(--white-color);   
}

#btn-investments {
    border: 2px solid var(--investments-color);    
}

#btn-investments:hover {
    background-color: var(--investments-color);
    color: var(--white-color);   
}

#btn-transfers {
    border: 2px solid var(--transfers-color);    
}

#btn-transfers:hover {
    background-color: var(--transfers-color);
    color: var(--white-color);   
}

.columns-data {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, calc(100% / 3));
}

.column-left-3 {
    padding-right: 10px;
    width: 100%;
}

.column-center-3 {
    padding: 0 10px;
    width: 100%;
}

.column-right-3 {
    padding-left: 10px;
    width: 100%;
}

#total-balance {
    width: 100%;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
    color: #000;
}

.color-balance {
    background-color: var(--second-color);
    width: 4px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
}

.data-balance {
    display: flex;
}

.see-balance > a {
    color: #000;
    font-size: .9rem;
}

a.account {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #000;
    margin: 30px 0;
}

.info-account {
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

#inter > div > .color-account {
    background-color: orange;
}

#nubank > div > .color-account {
    background-color: rgb(174, 0, 255);
}

#total > div > .color-account {
    background-color: rgb(46, 46, 46);
}

.color-account {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    flex-shrink: 0; 
}

.data-account {
    overflow-x: hidden;
}

.title-data-account, .title-limit {
    font-size: 1rem;
    width: max-content;
}

.subtitle-data-account {
    font-size: .9rem;
    opacity: .8;
}

.value-account {
    margin-left: 20px;
    font-size: 1.2rem;
}

.value-account > span {
    font-size: .9rem;
    opacity: .8;
}


div#comparison {
    height: 321px;
}

#graphics-comparison {
    width: 85%;
    height: 70%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.month-comparison {
    width: 100%;
    height: 100%;
}

.not-this-month {
    opacity: .75;
}

.graphic-comparison {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 2px;
}

.graphic-comparison > div {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.revenues-graphic > div {
    background-color: var(--first-color);
    border-radius: 20px;
}

.expenses-graphic > div {
    background-color: var(--expenses-color);
    border-radius: 20px;
}

.investiments-graphic > div {
    background-color: var(--investments-color);
    border-radius: 20px;
}

.description-month-comparison {
    margin-top: 10px;
    text-align: center;
    opacity: .9;
}


.my-limit {
    padding: 7px 0;
}

.data-limit {
    width: 100%;
    display: flex;
    align-items: center;
}

.color-limit {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    flex-shrink: 0; 
    background-color: black;
}

.limit-control {
    width: 100%;
    margin: 10px 0 20px;
}

.values-limit {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.values-limit > div {
    font-size: .9rem;
    opacity: .8;
}

.limit-bar {
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background-color: #acacac;
    margin-top: 5px;
}

.limit-bar > div {
    height: 100%;
    border-radius: 10px;
    background-color: var(--first-color);
}



@media (max-width: 1650px) {
    .columns-data {
        grid-template-columns: repeat(2, calc(100% / 2));
    }

    .column-right-3 {
        padding-left: 0;
        padding-right: 10px;
        width: 100%;
    }
}


@media (max-width: 800px) {

    .columns-data {
        grid-template-columns: repeat(1, 100%);
    }

    .column-left-3, .column-center-3, .column-right-3 {
        padding: 0;
    }
}


@media (max-width: 870px) {

    div.first-data {
        grid-template-columns: 1fr 1fr;
    }

    .data-box:nth-child(-n+2) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.150);
        padding-bottom: 20px;
    }

    .data-box:nth-last-child(-n+2) {
        padding-top: 20px;
    }
    
    .data-box:not(:last-child) {
        border-right: none;
    }

    .data-box:nth-child(odd) {
        border-right: 1px solid rgba(0, 0, 0, 0.150);
    }
}

@media (max-width: 500px) {
    
    div.first-data {
        grid-template-columns: 1fr;
    }

    .data-box:nth-child(-n+2) {
        border-bottom: none;
    }

    .data-box:nth-child(odd) {
        border-right: none;
    }

    .data-box:not(:first-child) {
        padding-top: 20px;
    }

    .data-box:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.150);
    }

    .data-box:nth-child(3n) {
        padding-bottom: 20px;
    }

    .color-account {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }

    .title-data-account {
        font-size: .9rem;
    }
    
    .subtitle-data-account {
        font-size: .8rem;
    }
    
    .value-account {
        font-size: 1rem;
    }
    
    .value-account > span {
        font-size: .7rem;
    }

}