.columns-transactions {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#transactions-container {
    width: calc(100% - 370px);
    height: auto;
    position: relative;
    overflow: visible;
}

.month-reference {
    width: max-content;
    display: flex;
    margin: auto;
}

.month-reference > h5 {
    margin: 0 20px;
}

.month-reference > i {
    opacity: .5;
    cursor: pointer;
    transition: .3s;
}

.month-reference > i:hover {
    opacity: .9;
}

#list-filter {
    margin-bottom: 20px;
    font-size: .9rem;
    opacity: .9;
}

#form-filter > select {
    border: 1px solid rgb(180, 180, 180);
    border-radius: 10px;
    outline: none;
    font-size: .8rem;
    padding: 6px 10px;

}

.date {
    position: relative;
    opacity: .7;
    text-align: center;
}

.date > .day {
    font-size: .8rem;
}

.transaction {
    color: #000;
    text-decoration: none;
    padding: 12px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(205, 205, 205);
}

.transaction:hover {
    background-color: #00000010;
}

.info-transaction {
    width: max-content;
    display: flex;
    align-items: center;
    margin-right: 10px;
    max-width: 100%;
    overflow: hidden;
}

.name-transaction {
    font-size: .9rem;
}

.name-category {
    opacity: .8;
    font-size: .7rem;
}

.second-info-transaction {
    display: flex;
    align-items: center;
    min-width: max-content;
}

.value-transaction {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.account-reference {
    opacity: .8;
    font-size: .7rem;
}

.status-transactions {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.status-transactions > div > form > button {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 5px;
    cursor: pointer;
}

.icons-options {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.fa-square-check, .fa-square {
    color: var(--second-color);
}

.fa-pencil:hover {
    transition: .1s;
    color: var(--investments-color);
}

.fa-trash-can:hover {
    transition: .1s;
    color: var(--expenses-color);
}

.fa-square:hover {
    transition: .1s;
    color: var(--first-color);
}

.fa-triangle-exclamation {
    color: var(--transfers-color);
    margin-top: 5px;
    display: block;
    font-size: .8rem;
}

.month-balance {
    width: 350px;
}

.name-see-all {
    text-overflow: ellipsis; /* Adiciona reticências ao texto que estiver oculto */
    overflow: hidden; /* Garante que o texto oculto seja escondido */
    white-space: nowrap; /* Impede a quebra de texto */
    flex-grow: 1;
    padding-right: 10px;
}

.info-see-all {
    min-width: max-content;
    margin-right: 1px;
}

.see-all > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
    max-width: 400px;
}

.inside-see-all {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inside-see-all > .color {
    cursor: pointer;
}

.color-revenue {
    background-color: var(--first-color);
}
.color-expense {
    background-color: var(--expenses-color);
}
.color-transfer {
    background-color: var(--transfers-color);
}
.color-investment {
    background-color: var(--investments-color);
}

.alert-new-transaction {
    margin-top: 10px;
    opacity: .8;
    font-size: .7rem;
    text-align: center;
}

.info-see-all {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.name-see-all {
    width: auto; 
    white-space: nowrap;
    overflow: hidden; 

}

.title-name, .title-balance {
    font-size: .9rem;
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap; 
}

.subtitle-name, .subtitle-balance {
    font-size: .8rem;
    opacity: .7;
}


/*MODAIS*/


.modalNewTransaction {
    width: 100%;
    max-width: 500px;  
} 

#submitNewRevenue > input[type='submit'] {
    background-color: var(--first-color);
    border-color: var(--first-color);
    color: #fff;
    cursor: pointer;
}

#submitNewExpense > input[type='submit'] {
    background-color: var(--expenses-color);
    border-color: var(--expenses-color);
    color: #fff;
    cursor: pointer;
}

#submitNewTransfer > input[type='submit'] {
    background-color: var(--transfers-color);
    border-color: var(--transfers-color);
    color: #fff;
    cursor: pointer;    
}

#submitNewInvest > input[type='submit'] {
    background-color: var(--investments-color);
    border-color: var(--investments-color);
    color: #fff;
    cursor: pointer;    
}

#submitNewInvest {
    display: none;
}

#titleModalReceita {
    color: var(--first-color);
}

#titleModalDespesa {
    color: var(--expenses-color);
}

#titleModalTransfer {
    color: var(--transfers-color);
}

#titleModalInvest {
    color: var(--investments-color);
}


@media (max-width: 1000px) {
    .columns-transactions {
        flex-direction: column;
    }

    #transactions-container {
        width: 100%;
        max-width: none;
        order: 2;
    }

    .month-balance {
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .columns-transactions {
        grid-template-columns: auto 250px;
    }

    .btn-new {
        text-align: center;
        padding: 10px 8px 6px;
        width: 40px;
        min-width: 40px;
    }
    
    .btn-new > i {
        font-size: 1.2rem;
    }

    .value-total {
        font-size: 1.2rem;
    }
}

@media (max-width: 850px) {
    .columns-transactions {
        grid-template-columns: 1fr;
    }

    .btn-new {
        width: 60px;
        min-width: 60px;
    }
    
    .btn-new > i {
        font-size: 1.5rem;
    }

    .value-total {
        font-size: 1.4rem;
    }
}

@media (max-width: 500px) {
    .transaction {
        margin: 0;
        padding: 12px 4px;
    }

    .name-transaction {
        font-size: .8rem;
    }

    .name-category {
        font-size: .7rem;
    }

    .account-reference {
        font-size: .7rem;
    }
    
    .status-transactions {
        margin-left: 10px;
    }

    .btn-new {
        width: 40px;
        min-width: 40px;
    }
    
    .btn-new > i {
        font-size: 1.2rem;
    }

    .value-total {
        font-size: 1.2rem;
    }

    .title-name, .title-balance {
        font-size: .85rem;
    }
    
    .subtitle-name, .subtitle-balance {
        font-size: .75rem;
    }

    .fa-triangle-exclamation {
        font-size: .8rem;
    }

    label {
        display: block;
        font-size: .8rem;
    }

    select {
        font-size: .7rem;
    }
    
}

@media (max-width: 400px) {

    .name-category {
        font-size: .6rem;
    }

    .value-transaction {
        font-size: .8rem;
    }    

    .account-reference {
        font-size: .6rem;
    }
    
    .status-transactions {
        margin-left: 8px;
    }
    
}